<h1>The Finder-er App!</h1>

<form>
  Please type in a location or interest:

  <br><br>


  <input type='text' placeholder='Mountain View, Pekingese Puppies, Spelunking...' id='input-box'>

  <br><br>

  <input type='submit' value='Go!' class='btn btn-primary'>

</form>

<hr>

<div class='results-list'>
</div>

<div class='map'>
</div>


<div id='test'>
</div>



<script>
  var oauth = OAuth({
    consumer: {
      public: 'W1BjNrPnZRlvG6kJaa3dQg',
      secret: 'OI7kyEW_uuVw5G3nZZodfY6BjqA'
    },
    signature_method: 'HMAC-SHA1'
  });

  // http://api.yelp.com/v2/search?term=food&location=San+Francisco

  var request_data = {
    // url: 'http://api.yelp.com/v2/search',
    url: 'http://www.google.com',

    method: 'POST',
    data: {
      status: 'Hello Ladies + Gentlemen, a signed OAuth request!'
    }
  };

  var token = {
    public: '-eERvtTjNeTI4CbOblkP34eAii7JLLpr',
    secret: '9EdVIozIGN_vVRoPTak84QPKxhQ'
  };

  function testAPIRequest () {
    $.ajax({
      url: request_data.url,
      type: request_data.method,
      data: oauth.authorize(request_data, token),
      crossDomain: true
    }).done(function(data) {
      debugger;
      console.log(data);
    });
  }

  function testAPIRequest2 () {
    $.ajax({
      url: 'http://google.com',
      type: 'get'
      // data: oauth.authorize(request_data, token),
      // crossDomain: true
    });
  }

  testAPIRequest2();
  // testAPIRequest();


  // Consumer Key	W1BjNrPnZRlvG6kJaa3dQg
  // Consumer Secret	OI7kyEW_uuVw5G3nZZodfY6BjqA
  // Token	-eERvtTjNeTI4CbOblkP34eAii7JLLpr
  // Token Secret	9EdVIozIGN_vVRoPTak84QPKxhQ



</script>
