<h1>The Finder-er App!</h1>

<form>
  Please type in a location or interest:
  <br><br>
  <input type='text' placeholder='Mountain View, Pekingese Puppies, Spelunking...' id='input-box'>
  <br><br>
  <input type='submit' value='Go!' class='btn btn-primary'>
</form>

<hr>

<div class='list-wrapper'>
  <ul id='list'>
  </ul>
</div>

<div id='map'>
</div>

<script>
  var oauth = OAuth({
    consumer: {
      public: 'W1BjNrPnZRlvG6kJaa3dQg',
      secret: 'OI7kyEW_uuVw5G3nZZodfY6BjqA'
    },
    signature_method: 'HMAC-SHA1'
  });

  // http://api.yelp.com/v2/search?term=food&location=San+Francisco

  var request_data = {
    // url: 'http://api.yelp.com/v2/search',
    url: 'http://www.google.com',

    method: 'POST',
    data: {
      status: 'Hello Ladies + Gentlemen, a signed OAuth request!'
    }
  };

  var token = {
    public: '-eERvtTjNeTI4CbOblkP34eAii7JLLpr',
    secret: '9EdVIozIGN_vVRoPTak84QPKxhQ'
  };

  function testAPIRequest () {
    $.ajax({
      url: request_data.url,
      type: request_data.method,
      data: oauth.authorize(request_data, token),
      crossDomain: true
    }).done(function(data) {
      debugger;
      console.log(data);
    });
  }

  function testAPIRequest2 () {
    $.ajax({
      url: 'http://google.com',
      type: 'get'
      // data: oauth.authorize(request_data, token),
      // crossDomain: true
    });
  }

  // testAPIRequest2();
  // testAPIRequest();
  function renderResults (data) {
    var businesses = data.businesses;
    var business;
    $list = $('#list');
    for (var i = 0; i < businesses.length; i++) {
      business = businesses[i];
      $list.append("<li>" + business.name + "</li>");
    }

  }

  function getSearchResults () {
    $.ajax({
      url: '/search',
      type: 'get',
      success: renderResults
    })
  }

  getSearchResults();

  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
    });
  }

  initMap();

</script>
