<h1>The Finder-er App!</h1>

<form>
  Please type in a location or interest:

  <br><br>


  <input type='text' placeholder='Mountain View, Pekingese Puppies, Spelunking...' id='input-box'>

  <br><br>

  <input type='submit' value='Go!' class='btn btn-primary'>

</form>

<hr>

<div class='results-list'>
</div>

<div class='map'>
</div>


<div id='test'>
</div>



<script>

</script>
