<div id='content' ng-app='finderApp'>
  <h1>The Finder App!</h1>

  <div ng-controller='ResultsListController as resultsList'>
    <form ng-submit='submitSearch()'>
      <div class='center-wrapper'>
        Please type in a location or topic of interest:
        <br><br>
        <input type='text' placeholder='Mountain View, Pekingese Puppies, Spelunking...' id='input-box'>
        <br><br>
        <input id='submit-btn' type='submit' value='Go!' class='btn btn-primary'>

        <input type='checkbox' name='search-location' ng-model='searchInMap.value'>
         Search Only Within Map
      </div>
    </form>

    <hr>

    <div class='list-wrapper'>
      <h3>Results</h3>
      <ul id='list'>
        <li ng-repeat='result in results' ng-mouseover='startMarkerBounce()' ng-mouseleave='stopMarkerBounce()' data-name='{{result.name}}'>
          <!-- Use placeholder info -->
          <b>{{result.name}}</b> Lat: {{result.location.coordinate.latitude}} Long: {{result.location.coordinate.longitude}}
        </li>
      </ul>
    </div>
  </div>

  <!-- Google maps hook -->
  <div id='map'>
  </div>
</div>
