<div id='content' ng-app='finderApp'>
  <h1>The Finder App!</h1>

  <div ng-controller='ResultsListController as resultsList'>
    <form ng-submit='submitSearch()'>
      Please type in a location or topic of interest:
      <br><br>
      <input type='text' placeholder='Mountain View, Pekingese Puppies, Spelunking...' id='input-box'>
      <br><br>
      <input type='submit' value='Go!' class='btn btn-primary'>
    </form>

    <hr>

    <div class='list-wrapper'>
      <h3>Results</h3>
      <ul id='list'>
        <li ng-repeat='result in results' ng-mouseover='startMarkerBounce()' ng-mouseleave='stopMarkerBounce()' data-name='{{result.name}}'>
          <b>{{result.name}}</b> Lat: {{result.location.coordinate.latitude}} Long: {{result.location.coordinate.longitude}}
        </li>
      </ul>
    </div>
  </div>

  <div id='map'>
  </div>
</div>
